save_net/absnet.mat
save_net/data.mat
save_net/extradata.mat
save_net/extradataAnswers.mat
save_net/net.mat
save_net/net2.mat
save_net/net3.mat
save_net/net4.mat
save_net/noise_effect.fig
save_net/uniformcases.mat






